/*FONTS
font-family: 'Lato', sans-serif;
*/

$text-color: #2d2d2d;
$link-color: #F16B6D;
$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$green: rgba(43,160,90,1);
$grey: rgba(60,60,60,1);
$salmon: rgba(255,146,153,1);

/*Break Points*/
$break-xs: "screen and (max-width: 767px)";
$break-sm: "screen and (min-width: 768px)";
$break-md: "screen and (min-width: 992px)";
$break-lg: "screen and (min-width: 1200px)";


// Colors
@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}



body {
  background: $white;
  background: #ddd;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color:$text-color;
  -webkit-overflow-scrolling: touch;
}

a {
  color:$link-color;
  transition: 2s ease-out all;
}

a:hover {
  text-decoration: underline;
 color:$link-color;
}

hr {
  margin:48px auto;
  width: 50%;
  border-bottom: 1px #ccc solid;
}

h3 {
  margin:0 0 40px 0;
  font-weight: 900;
  font-size: 32px;
}

h4 {
  margin:0 0 25px 0;
  font-weight: 900;
  font-size: 21px;
}

h5 {
  margin:0 0 6px 0;
  font-weight: 700;
  font-size: 18px;
}

h6 {
  margin:0 0 5px 0;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

// Query Monitor
body #qm.qm-show{
  display: none;
  @media #{$break-lg} {
    display: block;
  }
}

.container{
  /*max-width:400px;*/
}


#main{
  padding-bottom: 100px;
  .container{
    
  }
}



