/*Member Info*/
#schedule-info-box{
  background: $green; /* GREEN */ 
  color: $white;
}
#schedule-info{
  padding:14px 0;
}
#schedule-info h6{
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
#schedule-info p{
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.work-week{
  margin-bottom: 12px;
  font-size: 15px;
}